*.zip
.dart_tool/
.local-chromium/
.idea/
.packages
 vscode/
*.pem
*.crx
archive/
authority/
coverage/
main.dart.js*
data/
dharmaraksa-lotus/
dirgha-agama/
doc/
kumarajiva-lotus/
lokaksema/
soothill-hodous/
tmp/
workbench-chrome-ext/
ntireader.json
pubspec.lock
